APP_ENV=development
DATABASE_URL=sqlite:////data/rental.db
REDIS_URL=redis://redis:6379/0
PAYMENT_QUEUE_NAME=payments:pending
NOTIFICATION_QUEUE_NAME=notifications:pending
NOTIFICATION_SERVICE_URL=http://notification-service:8002
INTERNAL_SERVICE_TOKEN=troque-esta-chave-interna
CORS_ORIGINS=http://localhost:3000
SEED_DEMO_DATA=true
SIMULATED_PAYMENT_DELAY_SECONDS=4
